.app__aboutus {
    position: relative;
    padding: 4rem 6rem;
    height: 2100px;
    background: linear-gradient(180deg, #0c0c0c, #252c56);
    width: 100%;
    overflow: hidden;
}

.app__aboutus-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.aboutus__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutus__header span {
    margin-top: 35px;
    width: 90px;
    border-top: 2px solid var(--color-blue);
    display: flex;
    margin-bottom: 40px;
}

.aboutus__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 50px;
    height: 100%;
}

.app__aboutus-content_about {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 340px;
}

/* ========================================================================= GLARE ======== */
.tilt-block {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.tilt-block .tilt h1 {
    transform: translateZ(30px);
}
/* ========================================================================= GLARE ======== */

.tilt {
    display: flex;
    height: 200px;
    width: 600px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
}
/* .tilt h1 {
    transform: translateZ(30px);
} */

.app__aboutus-content_diplomas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

/* Заголовки */
.abouts__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 700;
    /* text-transform: 'uppercase';  */
    /* font-size: '25px'; */
}
.headtext__cormorant__mini {
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: 600;
    margin-top: 10px;
    /* text-transform: 'uppercase';  */
    font-size: 25px;
}
.headtext__cormorant__mini-blue {
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--color-blue-admin);
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 30px;
}

/* .headtext__cormorant__mini-sert {
    margin: 30px 0 24px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 22px;
} */
.app__aboutus-content_about p,
.app__aboutus-content_diplomas p {
    margin: 2rem 0;
    color: var(--color-grey);
}




/* slider 1 */
.carousel {
    cursor: grab;
    overflow: hidden;
    /* height: 50%; */
}

.item {
    height: 100%;
    min-width: 25rem;
    padding: 40px;
}

.item img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 5px;
}

.inner-carousel {
    display: flex;
}

/* slider 2 */
.carousel-2 {
    cursor: grab;
    overflow: hidden;
    /* height: 50%; */
}

.item-2 {
    height: 100%;
    min-width: 45rem;
    padding: 40px;
}

.inner-carousel-2 {
    display: flex;
}

.item-2 img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 5px;
}



.p__opensans li {
    margin-bottom: 20px;
}
.p__opensans li .GiDiamondTrophy {
    margin-right: 20px;
    padding-top: 3px;
}




.achievements ul li {
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
.achievements ul li div {
    color: var(--color-blue-admin);
    margin-right: 10px;
}

.achievements {
    margin-top: 40px;
    margin-bottom: 40px;
}





@media screen and (max-width: 1700px) {
    .aboutus__header span {
        margin-top: 35px;
        width: 90px;
        margin-bottom: 0px;
    }
    .aboutus__main {
        margin-top: 5px;
        height: 100%;
    }
    .app__aboutus {
        height: 100%;
        width: 100%;
    }
    .tilt {
        display: flex;
        height: 190px;
        width: 500px;
        padding: 5px 12px 5px 15px;
    }
    .headtext__cormorant__mini {
        font-size: 21px;
    }
}

@media screen and (max-width: 1500px) {
    .app__aboutus {
        height: 100%;
        width: 100%;
    }
    .tilt {
        display: flex;
        height: 180px;
        width: 450px;
        padding: 5px 12px 5px 15px;
        margin: 0 10px 0 10px;
    }
    .headtext__cormorant__mini {
        font-size: 20px;
    }

    .achievements ul li {
        font-size: 20px;
    }
    .achievements {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1150px) {
    .app__aboutus {
        padding: 2rem 3rem;
    }
    .app__aboutus {
        height: 100%;
        width: 100%;
    }
    .tilt {
        height: 140px;
        width: 360px;
        padding: 5px 12px 5px 15px;
    }
    .headtext__cormorant__mini {
        font-size: 16px;
    }

    .achievements ul li {
        display: flex;
        flex-direction: row;
        font-size: 17px;
    }
    .achievements ul li div {
        margin-right: 10px;
    }
    .achievements {
        margin-top: 10px;
        margin-bottom: 40px;
    }



            
            /* slider 1 */
        .carousel {
            cursor: grab;
            overflow: hidden;
            /* height: 50%; */
        }

        .item {
            height: 100%;
            min-width: 20rem;
            padding: 40px;
        }

        .item img {
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-radius: 5px;
        }

        .inner-carousel {
            display: flex;
        }

        /* slider 2 */
        .item-2 {
            height: 100%;
            min-width: 40rem;
            padding: 40px;
        }

        .item-2 img {
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-radius: 5px;
        }
}

@media screen and (max-width: 970px) {
    .app__aboutus {
        padding: 2rem 3rem;
    }
    .aboutus__main {
        margin-top: 32px;
    }
    .app__aboutus-content_about {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 340px;
    }
    .tilt {
        height: 140px;
        width: 360px;
        padding: 5px 12px 5px 15px;
        margin: 0 0 20px 0;
    }
    .headtext__cormorant__mini {
        font-size: 18px;
    }
}

@media screen and (max-width: 850px) {
    .app__aboutus {
        padding: 2rem 3rem;
    }
    .aboutus__header span {
        margin-top: 35px;
        margin-bottom: 0px;
    }
    .aboutus__main {
        margin-top: 32px;
    }
    .app__aboutus-content_about {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .tilt {
        height: 140px;
        width: 360px;
        padding: 5px 12px 5px 15px;
    }
    .headtext__cormorant__mini {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    .app__aboutus {
        padding: 2rem 3rem;
    }
    .aboutus__header span {
        margin-top: 35px;
        margin-bottom: 0px;
    }
    .aboutus__main {
        margin-top: 32px;
    }
    .app__aboutus-content_about {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .tilt {
        height: 110px;
        width: 290px;
        padding: 5px 12px 5px 15px;
    }
    .headtext__cormorant__mini {
        font-size: 13px;
    }

    .achievements ul li {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .app__aboutus {
        padding: 2rem 2rem;
    }
    .tilt {
        height: 90px;
        width: 230px;
        padding: 3px 8px 3px 12px;
    }
    .headtext__cormorant__mini {
        font-size: 11px;
    }

    .achievements ul li {
        font-size: 12px;
    }
}
