.app__aboutus {
    position: relative;
    padding: 4rem 6rem;
    height: 2100px;
    background: linear-gradient(180deg, #0c0c0c, #252c56);
    width: 100%;
    overflow: hidden;
}

.app__aboutus-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.aboutus__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutus__header span {
    margin-top: 35px;
    width: 90px;
    border-top: 2px solid var(--color-blue);
    display: flex;
    margin-bottom: 40px;
}

.aboutus__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 50px;
    height: 100%;
}

.app__aboutus-content_about {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 340px;
}

/* ========================================================================= GLARE ======== */
.tilt-block {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.tilt-block .tilt h1 {
    transform: translateZ(30px);
}
/* ========================================================================= GLARE ======== */

.tilt {
    display: flex;
    height: 200px;
    width: 600px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
}
/* .tilt h1 {
    transform: translateZ(30px);
} */

.app__aboutus-content_diplomas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

/* Заголовки */
.abouts__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 700;
    /* text-transform: 'uppercase';  */
    /* font-size: '25px'; */
}
.headtext__cormorant__mini {
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: 600;
    margin-top: 10px;
    /* text-transform: 'uppercase';  */
    font-size: 25px;
}
.headtext__cormorant__mini-blue {
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--color-blue-admin);
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 30px;
}
.achievements ul li {
    display: flex;
    flex-direction: row;
}
.achievements ul li div {
    color: var(--color-blue-admin);
    margin-right: 10px;
}
/* .headtext__cormorant__mini-sert {
    margin: 30px 0 24px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 22px;
} */
.app__aboutus-content_about p,
.app__aboutus-content_diplomas p {
    margin: 2rem 0;
    color: var(--color-grey);
}

/* slider 1 */
.carousel {
    cursor: grab;
    overflow: hidden;
    /* height: 50%; */
}

.item {
    height: 100%;
    min-width: 25rem;
    padding: 40px;
}

.item img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 5px;
}

.inner-carousel {
    display: flex;
}

/* slider 2 */
.carousel-2 {
    cursor: grab;
    overflow: hidden;
    /* height: 50%; */
}

.item-2 {
    height: 100%;
    min-width: 45rem;
    padding: 40px;
}

.inner-carousel-2 {
    display: flex;
}

.item-2 img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 5px;
}

.p__opensans li {
    margin-bottom: 20px;
}
.p__opensans li .GiDiamondTrophy {
    margin-right: 20px;
    padding-top: 3px;
}

.achievements {
    margin-top: 40px;
    margin-bottom: 40px;
}
.achievements li {
    font-size: 25px;
}
