.app__header {
  background-color: #0c0c0c;
  margin: 0;
  padding-bottom: 150px;
  /* Full height */
  /* height: 100%; */
  min-height: 850px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.app__wrapper_img {
  transition: 0.3s;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}
.app__wrapper_img img {
  width: 80%;
}
.app__wrapper_h1 {
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -280px;
}
.LOGO_TEXT {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 180px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below -40px linear-gradient (transparent, #0004);
}
.LOGO_TEXT span {
  animation: animate 5s linear infinite;
}
h1 span:nth-child(even) {
  animation-delay: 0.4s;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    /* color: #0e3742; */
    color: #252c56;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #0357f4, 0 0 20px #0357f4, 0 0 40px #0357f4,
      0 0 80px #0357f4, 0 0 160px #0357f4, 0 0 400px #0357f4;
  }
}
/* #03bcf4 */
.app__wrapper_h2 {
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -550px;
}
.PM_TEXT {
  font-weight: 500;
  font-size: 29px;
  color: rgb(201, 201, 201);
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

/** адаптивность */
/* для смартфонов — 320 px, 480 px и выше;
для планшетов — 768 px и выше;
для нетбуков — 1024 px и выше;
для мониторов — 1280 px, 1600 px, 1920 px и выше. */

@media screen and (min-width: 2000px) {
  /* .app__wrapper_h1 {}
  .app__wrapper_h2 {}
  .PM_TEXT {} 
  */
}

@media screen and (max-width: 1150px) {
  .LOGO_TEXT {
    font-size: 130px;
    width: 100%;
  }
  .app__wrapper_h2 {
    margin-bottom: -455px;
  }
  .PM_TEXT {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 850px) {
  .app__wrapper_img {
    margin-top: -50px;
  }
  .LOGO_TEXT {
    font-size: 100px;
    width: 100%;
  }
  .app__wrapper_h1 {
    margin-bottom: -230px;

  }
  .app__wrapper_h2 {
    margin-bottom: -380px;
  }
  .PM_TEXT {
    font-size: 17px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 650px) {
  .app__wrapper_img {
    margin-top: -60px;
  }
  .LOGO_TEXT {
    font-size: 80px;
    width: 100%;
  }
  .app__wrapper_h1 {
    margin-bottom: -180px;
  }
  .app__wrapper_h2 {
    margin-bottom: -300px;
  }
  .PM_TEXT {
    font-size: 13px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 450px) {
  .app__wrapper_img {
    display: none;
  }
  .LOGO_TEXT {
    font-size: 110px;
    width: 100%;
  }
  .app__wrapper_h1 {
    margin-bottom: -90px;
  }
  .app__wrapper_h2 {
    margin-bottom: -455px;
  }
  .PM_TEXT {
    font-size: 12px;
    letter-spacing: 2px;
  }
}

