.Study {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 4rem 0 4rem;
    margin: 0;
    height: 1000px;
    /* background: rgb(236, 236, 236); */
    background: rgb(245, 245, 245);
    color: rgb(241, 241, 241);
    overflow: hidden;
    /* margin-top: 50px; */
}
.study__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
}
.study__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}
.headtext__cormorant_study {
    font-family: var(--font-base);
    color: var(--color-black);
    font-size: 45px;
    line-height: 80.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-weight: 500;
    text-transform: uppercase;
}

.study__cards-courses {
    display: flex;
    justify-content: space-around;
    width: 100%;
    transform-style: preserve-3d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 170px;
    border-radius: 12px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.18);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    letter-spacing: 1.5px;
    /* font-size: 25px; */
    /* font-weight: 300; */
}

.box__1 {
    line-height: 1.5;
    /* padding: 10px 28px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 20px;
    color: var(--color-red);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: color 0.3s ease;
    background-color: #fff;
    /* border: 3px solid var(--color-blue); */
    /* background-color: rgb(236, 236, 236); */
    /* backdrop-filter: blur(5px); */
}

/* .box .box__1 h4 {
    transform: translateZ(75px);
}
.box .box__2 h4 {
    transform: translateZ(75px);
} */

.box__1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-red);
    z-index: -1;
    transition: width 0.3s ease;
}
.box__1:hover::before {
    width: 100%;
}
.box__1:hover {
    color: var(--white);
}

.box__2 {
    line-height: 1.5;
    padding: 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 20px;
    color: var(--color-red);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: color 0.3s ease;
    background-color: #fff;
    /* border: 3px solid var(--color-blue); */
    /* background-color: rgb(236, 236, 236); */
    /* backdrop-filter: blur(5px); */
}
.box__2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-red);
    z-index: -1;
    transition: width 0.3s ease;
}
.box__2:hover::before {
    width: 100%;
}
.box__2:hover {
    color: var(--white);
}

/* .box__1,
.box__2::before {
    content: '';
    transition: width 0.3s ease;
}
.btn:hover::before {
    width: 100%;
}
.btn:hover {
    color: red;
} */

/* .box__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    backdrop-filter: blur(5px);

    background: rgb(201, 201, 201);
} */

.study__photo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid black; */
}
.irina_study {
    height: 80%;
    position: absolute;
}

/* ------------------------- Вёрстка блоков ONLINE-обучения ------------------------- */
.online-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 150px 110px 150px;
}
.online-container div {
    margin-bottom: 30px;
}
li {
    list-style-type: none;
}

.Baza {
    background-color: rgba(0, 0, 0, 0.05);
}
.Frazi {
    background-color: rgba(0, 0, 0, 0.1);
}
.Result-Learning {
    background-color: rgba(0, 0, 0, 0.15);
}
.Tezis {
    background-color: rgba(0, 0, 0, 0.2);
}
.Kak-prohodit {
    background-color: rgba(0, 0, 0, 0.25);
}
.THEORY-1-etap {
    background-color: rgba(0, 0, 0, 0.3);
}
.PRACTISE-2-etap {
    background-color: rgba(0, 0, 0, 0.35);
}
.Naputstvie {
    background-color: rgba(0, 0, 0, 0.4);
}
.Nabor {
    background-color: rgba(0, 0, 0, 0.45);
}
.Okupaemost {
    background-color: rgba(0, 0, 0, 0.5);
}
.Bonus {
    background-color: rgba(0, 0, 0, 0.55);
}
.Result-Student {
    background-color: rgba(0, 0, 0, 0.6);
}
.Abasheva {
    background-color: rgba(0, 0, 0, 0.65);
}
.Tarif-Container {
    background-color: rgba(0, 0, 0, 0.7);
}
.Tarif {
    display: flex;
}

/* ------------------------- Вёрстка блоков OFFLINE-обучения ------------------------- */

.offline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 120px 20px 120px;
}
.offline-container div {
    margin-bottom: 30px;
}
.Gubi {
    background-color: rgba(0, 0, 0, 0.1);
}
.Brovi {
    background-color: rgba(0, 0, 0, 0.2);
}
.Strelka {
    background-color: rgba(0, 0, 0, 0.3);
}
.Remove {
    background-color: rgba(0, 0, 0, 0.4);
}
