.OurServices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1100px;
    padding-top: 55px;
    /* background: rgb(202, 202, 202); */
}

.container__services {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
    width: 900px;
    margin-top: 47px;
}

.container__services .container__services-box {
    position: relative;
    width: 270px;
    height: 250px;
    background: var(--color-silver);
    border-radius: 20px;
    overflow: hidden;
}

.container__services .container__services-box .imageService {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.container__services .container__services-box:hover .imageService {
    top: 25px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container__services .container__services-box .imageService ion-icon {
    font-size: 5em;
    color: #fff;
    transition: 0.5s;
}

.container__services .container__services-box:hover .imageService ion-icon {
    font-size: 2em;
}

.container__services .container__services-box .content {
    position: relative;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    z-index: 1;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.container__services .container__services-box:hover .content {
    transition-delay: 0s;
    transform: scale(1);
}

.container__services .container__services-box .content h2 {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.container__services .container__services-box .content p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
}

.container__price {
    margin-top: 40px;
    width: 270px;
    height: 70px;
    border-radius: 12px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.18);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border-radius: 20px;
    color: var(--color-silver);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: color 0.3s ease;
    background-color: #fff;
}

.container__price::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-red);
    z-index: -1;
    transition: width 0.3s ease;
}
.container__price:hover::before {
    width: 100%;
}
.container__price:hover {
    color: #fff;
}
